@model Libertese.ViewModels.PrecificacaoCreateViewModel
@using Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Nova Precificação";
    Layout = "~/Views/Shared/_LayoutProdutos.cshtml";
}

<head>
    <meta charset="utf-8" />
    <title>Autocomplete Example</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
</head>


@{
    await Html.RenderPartialAsync("_CreateContextoDespesasPartial", Model);
}


<body class="font-inter antialiased bg-slate-100 dark:bg-slate-900 text-slate-600 dark:text-slate-400">
    <div class="flex h-[100dvh] overflow-visible">
        <div class="relative flex flex-col flex-1 overflow-y-visible overflow-x-visible bg-white dark:bg-slate-900">
            <main class="grow">
                <div class="px-4 sm:px-6 lg:px-8 pt-8 w-full max-w-9xl mx-auto">
                    <div class="mb-1">
                        <div class="flex items-center justify-between">
                            <h2 class="text-2xl md:text-3xl text-slate-800 dark:text-slate-100 font-bold">Nova Precificação</h2>
                            <a asp-action="Index" class="btn bg-orange-500 hover:bg-orange-600 text-white ml-3 rounded-lg w-24">Voltar</a>
                        </div>
                        
                    </div>
                </div>
                <form id="ProdutoForm" asp-action="Create">
                <div class="px-4 sm:px-6 lg:px-8 py-8 w-full max-w-9xl mx-auto">
                        <div class="mb-1">
                            <h4 class="text-xl md:text-xl text-slate-800 dark:text-slate-100 font-bold">Informações do produto</h4>
                        </div>
                    <div class="border-t border-slate-200 dark:border-slate-700">
                        <div class="space-y-8 mt-5">
                            <div>
                                <div class="grid gap-5 md:grid-cols-2">
                                    <div>
                                        <div>
                                            <div class="flex items-center justify-between">
                                                <label asp-for="Nome" class="block text-sm font-medium mb-1" for="tooltip"></label>
                                                <div
                                                    class="relative ml-2"
                                                    x-data="{ open: false }"
                                                    @@mouseenter="open = true"
                                                    @@mouseleave="open = false"
                                                >
                                                    <button
                                                        class="block"
                                                        aria-haspopup="true"
                                                        :aria-expanded="open"
                                                        @@focus="open = true"
                                                        @@focusout="open = false"
                                                        @@click.prevent            
                                                    >
                                                        <svg class="w-4 h-4 fill-current text-slate-400 dark:text-slate-500" viewBox="0 0 16 16">
                                                            <path d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zm0 12c-.6 0-1-.4-1-1s.4-1 1-1 1 .4 1 1-.4 1-1 1zm1-3H7V4h2v5z"  />
                                                        </svg>
                                                    </button>
                                                    <div class="z-10 absolute bottom-full left-1/2 -translate-x-1/2">
                                                        <div
                                                            class="min-w-60 bg-slate-800 text-slate-200 px-2 py-1 rounded overflow-hidden mb-2"
                                                            x-show="open"
                                                            x-transition:enter="transition ease-out duration-200 transform"
                                                            x-transition:enter-start="opacity-0 translate-y-2"
                                                            x-transition:enter-end="opacity-100 translate-y-0"
                                                            x-transition:leave="transition ease-out duration-200"
                                                            x-transition:leave-start="opacity-100"
                                                            x-transition:leave-end="opacity-0"
                                                            x-cloak
                                                        >
                                                            <div class="text-sm">Descrição curta de um produto.</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <input  asp-for="Nome" class="form-input w-full" type="text" />
                                            <span asp-validation-for="Nome" class="text-xs mt-1 text-rose-500"></span>
                                        </div>
                                    </div>
                                    <div>
                                        <div>
                                                <div class="flex items-center justify-between">
                                                    <label asp-for="CategoriaId" class="block text-sm font-medium mb-1" for="tooltip"></label>
                                                    <div class="relative ml-2"
                                                         x-data="{ open: false }"
                                                         @@mouseenter="open = true"
                                                         @@mouseleave="open = false">
                                                        <button class="block"
                                                                aria-haspopup="true"
                                                                :aria-expanded="open"
                                                                @@focus="open = true"
                                                                @@focusout="open = false"
                                                                @@click.prevent>
                                                            <svg class="w-4 h-4 fill-current text-slate-400 dark:text-slate-500" viewBox="0 0 16 16">
                                                                <path d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zm0 12c-.6 0-1-.4-1-1s.4-1 1-1 1 .4 1 1-.4 1-1 1zm1-3H7V4h2v5z" />
                                                            </svg>
                                                        </button>
                                                        <div class="z-10 absolute bottom-full left-1/2 -translate-x-1/2">
                                                            <div class="min-w-60 bg-slate-800 text-slate-200 px-2 py-1 rounded overflow-hidden mb-2"
                                                                 x-show="open"
                                                                 x-transition:enter="transition ease-out duration-200 transform"
                                                                 x-transition:enter-start="opacity-0 translate-y-2"
                                                                 x-transition:enter-end="opacity-100 translate-y-0"
                                                                 x-transition:leave="transition ease-out duration-200"
                                                                 x-transition:leave-start="opacity-100"
                                                                 x-transition:leave-end="opacity-0"
                                                                 x-cloak>
                                                                <div class="text-sm">Categoria em que o produto será associado.</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                    <input class="form-input w-full" type="text" name="SearchCategoria" id="SearchCategoria" />
                                                <input style="display: none;" asp-for="CategoriaId" />
                                                <span asp-validation-for="CategoriaId" class="text-xs mt-1 text-rose-500"></span>
                                            
                                        </div>
                                    </div>
                                </div>
                                    <div class="mt-5 grid gap-5 md:grid-cols-3">
                                   
                                        <div>
                                            <div>
                                                <div class="flex items-center justify-between">
                                                    <label asp-for="TempoProducao" class="block text-sm font-medium mb-1" for="tooltip"></label>
                                                    <div class="relative ml-2"
                                                         x-data="{ open: false }"
                                                         @@mouseenter="open = true"
                                                         @@mouseleave="open = false">
                                                        <button class="block"
                                                                aria-haspopup="true"
                                                                :aria-expanded="open"
                                                                @@focus="open = true"
                                                                @@focusout="open = false"
                                                                @@click.prevent>
                                                            <svg class="w-4 h-4 fill-current text-slate-400 dark:text-slate-500" viewBox="0 0 16 16">
                                                                <path d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zm0 12c-.6 0-1-.4-1-1s.4-1 1-1 1 .4 1 1-.4 1-1 1zm1-3H7V4h2v5z" />
                                                            </svg>
                                                        </button>
                                                        <div class="z-10 absolute bottom-full left-1/2 -translate-x-1/2">
                                                            <div class="min-w-60 bg-slate-800 text-slate-200 px-2 py-1 rounded overflow-hidden mb-2"
                                                                 x-show="open"
                                                                 x-transition:enter="transition ease-out duration-200 transform"
                                                                 x-transition:enter-start="opacity-0 translate-y-2"
                                                                 x-transition:enter-end="opacity-100 translate-y-0"
                                                                 x-transition:leave="transition ease-out duration-200"
                                                                 x-transition:leave-start="opacity-100"
                                                                 x-transition:leave-end="opacity-0"
                                                                 x-cloak>
                                                                <div class="text-sm">Tempo em minutos para a produção de um produto.</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <input asp-for="TempoProducao" class="form-input w-full" type="number" />
                                                <span asp-validation-for="TempoProducao" class="text-xs mt-1 text-rose-500"></span>
                                            </div>
                                        </div>
                                        <div>
                                            <div>
                                                <div class="flex items-center justify-between">
                                                    <label asp-for="Margem" class="block text-sm font-medium mb-1" for="tooltip"></label>
                                                    <div class="relative ml-2"
                                                         x-data="{ open: false }"
                                                         @@mouseenter="open = true"
                                                         @@mouseleave="open = false">
                                                        <button class="block"
                                                                aria-haspopup="true"
                                                                :aria-expanded="open"
                                                                @@focus="open = true"
                                                                @@focusout="open = false"
                                                                @@click.prevent>
                                                            <svg class="w-4 h-4 fill-current text-slate-400 dark:text-slate-500" viewBox="0 0 16 16">
                                                                <path d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zm0 12c-.6 0-1-.4-1-1s.4-1 1-1 1 .4 1 1-.4 1-1 1zm1-3H7V4h2v5z" />
                                                            </svg>
                                                        </button>
                                                        <div class="z-10 absolute bottom-full left-1/2 -translate-x-1/2">
                                                            <div class="min-w-60 bg-slate-800 text-slate-200 px-2 py-1 rounded overflow-hidden mb-2"
                                                                 x-show="open"
                                                                 x-transition:enter="transition ease-out duration-200 transform"
                                                                 x-transition:enter-start="opacity-0 translate-y-2"
                                                                 x-transition:enter-end="opacity-100 translate-y-0"
                                                                 x-transition:leave="transition ease-out duration-200"
                                                                 x-transition:leave-start="opacity-100"
                                                                 x-transition:leave-end="opacity-0"
                                                                 x-cloak>
                                                                <div class="text-sm">Margem de lucro percentual aplicação ao produto</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <input asp-for="Margem" class="form-input w-full" type="number" />
                                                <span asp-validation-for="Margem" class="text-xs mt-1 text-rose-500"></span>
                                            </div>
                                        </div>
                                        <div>
                                            <div>
                                                <div class="flex items-center justify-between">
                                                    <label asp-for="Margem" class="block text-sm font-medium mb-1" for="tooltip"></label>
                                                    <div class="relative ml-2"
                                                         x-data="{ open: false }"
                                                         @@mouseenter="open = true"
                                                         @@mouseleave="open = false">
                                                        <button class="block"
                                                                aria-haspopup="true"
                                                                :aria-expanded="open"
                                                                @@focus="open = true"
                                                                @@focusout="open = false"
                                                                @@click.prevent>
                                                            <svg class="w-4 h-4 fill-current text-slate-400 dark:text-slate-500" viewBox="0 0 16 16">
                                                                <path d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zm0 12c-.6 0-1-.4-1-1s.4-1 1-1 1 .4 1 1-.4 1-1 1zm1-3H7V4h2v5z" />
                                                            </svg>
                                                        </button>
                                                        <div class="z-10 absolute bottom-full left-1/2 -translate-x-1/2">
                                                            <div class="min-w-60 bg-slate-800 text-slate-200 px-2 py-1 rounded overflow-hidden mb-2"
                                                                 x-show="open"
                                                                 x-transition:enter="transition ease-out duration-200 transform"
                                                                 x-transition:enter-start="opacity-0 translate-y-2"
                                                                 x-transition:enter-end="opacity-100 translate-y-0"
                                                                 x-transition:leave="transition ease-out duration-200"
                                                                 x-transition:leave-start="opacity-100"
                                                                 x-transition:leave-end="opacity-0"
                                                                 x-cloak>
                                                                <div class="text-sm">Margem de lucro percentual aplicação ao produto</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <input asp-for="Margem" class="form-input w-full" type="number" />
                                                <span asp-validation-for="Margem" class="text-xs mt-1 text-rose-500"></span>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="px-4 sm:px-6 lg:px-8 py-8 w-full max-w-9xl mx-auto">
                        <div class="mb-1">
                            <h4 class="text-xl md:text-xl text-slate-800 dark:text-slate-100 font-bold">Custos Fixos</h4>
                        </div>
                        <div class="border-t border-slate-200 dark:border-slate-700">
                            <div class="space-y-8 mt-5">
                                <div>
                                    <div class="grid gap-5 md:grid-cols-2 mb-10">
                                        <div>
                                            <div>
                                                <div class="flex items-center justify-between">
                                                    <label asp-for="DespesaCompetencia" class="block text-sm font-medium mb-1" for="tooltip"></label>
                                                    <div class="relative ml-2"
                                                         x-data="{ open: false }"
                                                         @@mouseenter="open = true"
                                                         @@mouseleave="open = false">
                                                        <button class="block"
                                                                aria-haspopup="true"
                                                                :aria-expanded="open"
                                                                @@focus="open = true"
                                                                @@focusout="open = false"
                                                                @@click.prevent>
                                                            <svg class="w-4 h-4 fill-current text-slate-400 dark:text-slate-500" viewBox="0 0 16 16">
                                                                <path d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zm0 12c-.6 0-1-.4-1-1s.4-1 1-1 1 .4 1 1-.4 1-1 1zm1-3H7V4h2v5z" />
                                                            </svg>
                                                        </button>
                                                        <div class="z-10 absolute bottom-full left-1/2 -translate-x-1/2">
                                                            <div class="min-w-60 bg-slate-800 text-slate-200 px-2 py-1 rounded overflow-hidden mb-2"
                                                                 x-show="open"
                                                                 x-transition:enter="transition ease-out duration-200 transform"
                                                                 x-transition:enter-start="opacity-0 translate-y-2"
                                                                 x-transition:enter-end="opacity-100 translate-y-0"
                                                                 x-transition:leave="transition ease-out duration-200"
                                                                 x-transition:leave-start="opacity-100"
                                                                 x-transition:leave-end="opacity-0"
                                                                 x-cloak>
                                                                <div class="text-sm">Escolha o mês de competência em que a despesa foi lançada.</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <input class="form-input w-full" asp-for="DespesaCompetencia" type="month"/>
                                            </div>
                                        </div> 
                                        <div>
                                            <div>
                                                <div class="flex items-center justify-between">
                                                    <label asp-for="DespesaId" class="block text-sm font-medium mb-1" for="tooltip"></label>
                                                    <div></div>
                                                    <div></div>
                                                    <div class="relative ml-2"
                                                         x-data="{ open: false }"
                                                         @@mouseenter="open = true"
                                                         @@mouseleave="open = false">
                                                        <button class="block"
                                                                aria-haspopup="true"
                                                                :aria-expanded="open"
                                                                @@focus="open = true"
                                                                @@focusout="open = false"
                                                                @@click.prevent>
                                                            <svg class="w-4 h-4 fill-current text-slate-400 dark:text-slate-500" viewBox="0 0 16 16">
                                                                <path d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zm0 12c-.6 0-1-.4-1-1s.4-1 1-1 1 .4 1 1-.4 1-1 1zm1-3H7V4h2v5z" />
                                                            </svg>
                                                        </button>
                                                        <div class="z-10 absolute bottom-full left-1/2 -translate-x-1/2">
                                                            <div class="min-w-60 bg-slate-800 text-slate-200 px-2 py-1 rounded overflow-hidden mb-2"
                                                                 x-show="open"
                                                                 x-transition:enter="transition ease-out duration-200 transform"
                                                                 x-transition:enter-start="opacity-0 translate-y-2"
                                                                 x-transition:enter-end="opacity-100 translate-y-0"
                                                                 x-transition:leave="transition ease-out duration-200"
                                                                 x-transition:leave-start="opacity-100"
                                                                 x-transition:leave-end="opacity-0"
                                                                 x-cloak>
                                                                <div class="text-sm">Escolha a despesa que deseja compor os custos fixos da precificação dos produtos e clique em incluir.</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div></div>
                                                </div>
                                                <input style="display: none;" name="MaterialId" id="MaterialId" />
                                                <input style="display: none;" name="MaterialNome" id="MaterialNome" />
                                                <input style="display: none;" name="MaterialPreco" id="MaterialPreco" />
                                                <input style="display: none;" name="MaterialValorTotal" id="MaterialValorTotal" />
                                                <input style="display: none;" name="Material" id="Material" />
                                                <input style="display: none;" asp-for="MateriaisJson" />
                                                <div class="flex items-center space-x-5">
                                                    <input class="form-input w-full" type="text" id="SearchMaterial" />
                                                    <button id="addMaterial" class="btn bg-orange-800 hover:bg-orange-900 text-white rounded-lg w-32">
                                                        <svg class="w-4 h-4 fill-current opacity-50 shrink-0" viewBox="0 0 16 16">
                                                            <path d="M15 7H9V1c0-.6-.4-1-1-1S7 .4 7 1v6H1c-.6 0-1 .4-1 1s.4 1 1 1h6v6c0 .6.4 1 1 1s1-.4 1-1V9h6c.6 0 1-.4 1-1s-.4-1-1-1z" />
                                                        </svg>
                                                        <span class="hidden xs:block ml-2">Incluir</span>
                                                    </button>
                                                </div>
                                                <span asp-validation-for="DespesaId" class="text-xs mt-1 text-rose-500"></span>
                                                
                                            </div>
                                        </div>
                                    </div>

                                    <div class="bg-white dark:bg-slate-800 shadow-lg rounded-sm border border-slate-200 dark:border-slate-700 mb-0">
                                        <header class="px-5 py-4">
                                            <h2 class="font-semibold text-slate-800 dark:text-slate-100">Despesas <span name="totalDeMateriais" id="totalDeMateriais" class="text-slate-400 dark:text-slate-500 font-medium">0</span></h2>
                                        </header>
                                        <div x-data="{ modalDeletarOpen: false, modalVisualizarOpen: false, tableIndex: 0 }">
                                            <div class="overflow-x-auto">
                                                <table id="materiaisTable"  class="table-auto w-full dark:text-slate-300">
                                                    <thead class="text-xs font-semibold uppercase text-slate-500 dark:text-slate-400 bg-slate-50 dark:bg-slate-900/20 border-t border-b border-slate-200 dark:border-slate-700">
                                                        <tr>
                                                            <th class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                                                                <div class="font-semibold text-left">Código</div>
                                                            </th>
                                                            <th class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                                                                <div class="font-semibold text-left">Nome</div>
                                                            </th>
                                                            <th class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                                                                <div class="font-semibold text-left">Valor</div>
                                                            </th>                                                        
                                                            <th class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                                                                <div class="font-semibold text-left">Ações</div>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="text-sm divide-y divide-slate-200 dark:divide-slate-700">
                                                        @for (var i = 0; i < Model.Materiais.Count; i++)
                                                        {
                                                            <tr>
                                                                <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap"><div class="font-medium text-sky-500">@Model.Materiais[i].Id</div></td>
                                                                <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap"><div class="font-medium text-slate-800 dark:text-slate-100">@Model.Materiais[i].Nome</div></td>
                                                                <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap"><div class="font-medium text-slate-800 dark:text-slate-100">R$ @Model.Materiais[i].Preco</div></td>
                                                                <td x-data="{ modalDeletarOpen: false, modalVisualizarOpen: false }" class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap w-px">
                                                                    <div class="space-x-1">
                                                                        <button type="button" class="removeMaterial text-rose-500 hover:text-rose-600 rounded-full">
                                                                            <span class="sr-only">Deletar</span>
                                                                            <svg class="w-8 h-8 fill-current" viewBox="0 0 32 32">
                                                                                <path d="M13 15h2v6h-2zM17 15h2v6h-2z" />
                                                                                <path d="M20 9c0-.6-.4-1-1-1h-6c-.6 0-1 .4-1 1v2H8v2h1v10c0 .6.4 1 1 1h12c.6 0 1-.4 1-1V13h1v-2h-4V9zm-6 1h4v1h-4v-1zm7 3v9H11v-9h10z" />
                                                                            </svg>
                                                                        </button>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        }

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <span asp-validation-for="Materiais" class="text-xs mt-1 text-rose-500"></span>





                                </div>
                                <footer>
                                    <div class="flex flex-col px-6 py-5 border-t border-slate-200 dark:border-slate-700">
                                        <div class="flex self-center">
                                            <button id="submitForm" name="submitForm" type="submit" value="Salvar" class="btn bg-slate-900 hover:bg-orange-600 text-white ml-3 rounded-lg w-32">Confirmar</button>
                                        </div>
                                    </div>
                                </footer>
                            </div>

                        </div>
                    </div>
                </form>
            </main>
        </div>
    </div>
</body>
<script type="text/javascript">

      $("#SearchCategoria").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: '@Url.Action("SearchByText", "Categorias")',
                dataType: "json",
                data: { searchString: $("#SearchCategoria").val() },
                success: function (data) {
                    response($.map(data, function (item) {
                        return {label: `${item.id} - ${item.nome}`, value: item.id, };
                    }))
                },
                error: function (xhr, status, error) {
                    alert("Erro ao buscar categorias, insira uma palavra valida!");
                }
            })
        },
        select: function (event, ui) {
                 $("#SearchCategoria").val(ui.item.label);
                 $("#CategoriaId").val(ui.item.value);
                 return false;
             }
      })

    $("#SearchMaterial").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: '@Url.Action("SearchByText", "Materiais")',
                dataType: "json",
                data: { searchString: $("#SearchMaterial").val() },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: `${item.id} - ${item.nome}`, value: item, };
                    }))
                },
                error: function (xhr, status, error) {
                    alert("Erro ao buscar materiais, insira uma palavra valida!");
                }
            })
        },
        select: function (event, ui) {
            $("#SearchMaterial").val(ui.item.label);
            $("#MaterialId").val(ui.item.value.id);
            $("#MaterialNome").val(ui.item.value.nome);
            $("#MaterialQuantidade").val(ui.item.value.quantidade);
            $("#MaterialPreco").val(ui.item.value.preco);
            $("#MaterialValorTotal").val(ui.item.value.valorTotal);
            $("#Material").val(ui.item.value);
            return false;
        }
    })

    $(document).ready(function () {
        $("#addMaterial").click(function () {
            var searchMaterial = $("#SearchMaterial").val();
            var materialId = $("#MaterialId").val();
            var nome = $("#MaterialNome").val();
            var quantidade = $("#MaterialQuantidade").val();
            var preco = $("#MaterialPreco").val();
            var valorTotal = $("#MaterialValorTotal").val();
            var material = $("#Material").val();

            var materialIdExistente = false;
            $("#materiaisTable tbody tr").each(function () {
                var idExistente = $(this).attr("id");
                if (idExistente === materialId) {
                    materialIdExistente = true;
                    return false; // Sai do loop, pois o materialId já foi encontrado
                }
            });

            if (materialIdExistente) {
                alert("Por favor, escolha outro material o mesmo já existe na lista.");
            
            } else if (materialId && nome && preco && quantidade && valorTotal) {



                var rowCount = $("#materiaisTable tbody tr").length;

                var newRow = `

                                                               <tr id="${materialId}">
                                                                <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                                                                            <div class="font-medium text-sky-500">${materialId}</div>

                                                                </td>
                                                                <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                                                                                <div class="font-medium text-slate-800 dark:text-slate-100">${nome}</div>
                                                                </td>
                                                                <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                                                                        <div class="font-medium text-slate-800 dark:text-slate-100">${quantidade}</div>
                                                                </td>
                                                                <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                                                                            <div class="font-medium text-slate-800 dark:text-slate-100">R$ ${preco}</div>
                                                                </td>
                                                                <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                                                                                    <div class="font-medium text-slate-800 dark:text-slate-100">R$ ${parseFloat((quantidade * preco).toFixed(2))}</div>
                                                                </td>

                                                                <td x-data="{ modalDeletarOpen: false, modalVisualizarOpen: false }" class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap w-px">
                                                                    <div class="space-x-1">
                                                                            <button type="button" class="removeMaterial text-rose-500 hover:text-rose-600 rounded-full">
                                                                            <span class="sr-only">Deletar</span>
                                                                            <svg class="w-8 h-8 fill-current" viewBox="0 0 32 32">
                                                                                <path d="M13 15h2v6h-2zM17 15h2v6h-2z" />
                                                                                <path d="M20 9c0-.6-.4-1-1-1h-6c-.6 0-1 .4-1 1v2H8v2h1v10c0 .6.4 1 1 1h12c.6 0 1-.4 1-1V13h1v-2h-4V9zm-6 1h4v1h-4v-1zm7 3v9H11v-9h10z" />
                                                                            </svg>
                                                                        </button>
                                                                    </div>
                                                                </td>
                                                                                                     <input type="hidden" name="Materiais[${rowCount}].Id" value="${materialId} />
                                                                                                     <input type="hidden" name="Materiais[${rowCount}].Nome" value="${nome} />
                                                                                                 <input type="hidden" name="Materiais[${rowCount}].Quantidade" value="${quantidade} />
                                                                                                    <input type="hidden" name="Materiais[${rowCount}].Preco" value="R$ ${preco} />
                                                                                                    <input type="hidden"  name="Materiais[${rowCount}].ValorTotal" value="R$ ${quantidade * preco}  />
                                                                    
                                                            </tr>`;
                $("#materiaisTable tbody").append(newRow);

                $("#MaterialId").val('');
                $("#SearchMaterial").val('');
                $("#MaterialNome").val('');
                $("#MaterialQuantidade").val('');
                $("#MaterialPreco").val('');
                $("#MaterialValorTotal").val('');
                $("#Material").val('');

                var rows = $("#materiaisTable tbody tr");
                var materiais = [];

                for (var i = 0; i < rows.length; i++) {
                    var cells = rows[i].getElementsByTagName('td');
                    var material = {
                        Id: cells[0].innerText,
                        Nome: cells[1].innerText,
                        Quantidade: cells[2].innerText,
                        Preco: cells[3].innerText.replace('R$ ', ''),
                        ValorTotal: cells[4].innerText.replace('R$ ', '')
                    };
                    materiais.push(material);
                }

                console.log(materiais)

                $("#totalDeMateriais").text(materiais.length);
                $("#MateriaisJson").val(JSON.stringify(materiais));

            } else {
                alert("Por favor, escolha o material e quantidade que deseja incluir no produto.");
            }
        });


        $("#materiaisTable").on("click", ".removeMaterial", function () {
            $(this).closest("tr").remove();
            $("#materiaisTable tbody tr").each(function (index, tr) {
                $(tr).find("input[name^='Materiais']").each(function () {
                    var name = $(this).attr("name");
                    var newName = name.replace(/\[\d+\]/, `[${index}]`);
                    $(this).attr("name", newName);
                });
            });

            var materiaisJson = $("#MateriaisJson").val()
            var indexToRemove = $(this).closest("tr").index();
            var materiaisList = JSON.parse(materiaisJson);
            materiaisList.splice(indexToRemove, 1);
            $("#totalDeMateriais").text(materiaisList.length);
            materiaisJson = JSON.stringify(materiaisList);
            $("#MateriaisJson").val(materiaisJson);
        });

        $("#ProdutoForm").on("submit", function (event) {
            event.preventDefault();
        });

        $("#submitForm").click(function () {
            $("#ProdutoForm").off("submit").submit();
        });
    });


</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}