@model Libertese.Domain.Entities.Cadastro.Funcionario

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Funcionario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorasDia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorasDia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiasMes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiasMes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remuneracao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remuneracao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
