@model Libertese.Web.ViewModels.FluxoCaixaViewModel
@using System.Globalization

@{
    ViewData["Title"] = "Fluxo de Caixa";
    Layout = "~/Views/Shared/_LayoutProdutos.cshtml";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financial Report</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/style-fluxo-caixa.css" rel="stylesheet" />
    <style>
        .highlight-red {
            color: red;
        }

        .highlight-green {
            color: green;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="py-4">
                    <h1 class="text-2xl md:text-3xl text-slate-800 dark:text-slate-100 font-bold">Fluxo de Caixa</h1>
                </div>
            </div>
        </div>
        <!-- Select para escolher o mês -->
        <div class="row">
            <div class="col">
                <form method="get" action="/FluxoCaixa/Index">
                    <label for="periodoInicio">Período de Início:</label>
                    <input type="date" id="periodoInicio" name="periodoInicio" class="form-control" value="@Model.PeriodoInicio?.ToString("yyyy-MM-dd")" />

                    <label for="periodoFim">Período de Fim:</label>
                    <input type="date" id="periodoFim" name="periodoFim" class="form-control" value="@Model.PeriodoFim?.ToString("yyyy-MM-dd")" />

                    <button type="submit" class="btn btn-primary mt-2">Filtrar</button>
                </form>
            </div>
        </div>

        @if (Model.CategoriasDespesas != null && Model.CategoriasDespesas.Any())
        {
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>Saídas</th>
                        @for (DateTime date = Model.PeriodoInicio.Value; date <= Model.PeriodoFim.Value; date = date.AddMonths(1))
                        {
                            <th>@date.ToString("MMMM/yyyy")</th>
                        }
                    </tr>
                </thead>
                <tbody>

                    @foreach (var categoria in Model.CategoriasDespesas) // Itera sobre as categorias de despesas
                    {
                        <tr>
                            <td>@categoria</td>
                            @for (DateTime date = Model.PeriodoInicio.Value; date <= Model.PeriodoFim.Value; date = date.AddMonths(1))
                            {
                                // Filtra as despesas apenas para a categoria e o mês atual no loop
                                var receitasMesCategoria = Model.Despesas.Where(r => r.DataCompetencia != "Sem Data" &&
                                DateTime.ParseExact(r.DataCompetencia, "dd/MM/yyyy", CultureInfo.InvariantCulture).Month == date.Month &&
                                DateTime.ParseExact(r.DataCompetencia, "dd/MM/yyyy", CultureInfo.InvariantCulture).Year == date.Year &&
                                r.Classificacao == categoria);
                                <td>R$ @(receitasMesCategoria.Any() ? receitasMesCategoria.Sum(r => r.Valor) : 0.00)</td>
                            }
                        </tr>
                    }
                    <tr>
                        <td><strong>Total de saídas</strong></td>
                        @for (DateTime date = Model.PeriodoInicio.Value; date <= Model.PeriodoFim.Value; date = date.AddMonths(1))
                        {
                            // Filtra todas as despesas apenas para o mês atual no loop
                            var totalMes = Model.Despesas.Where(r => r.DataCompetencia != "Sem Data" &&
                            DateTime.ParseExact(r.DataCompetencia, "dd/MM/yyyy", CultureInfo.InvariantCulture).Month == date.Month &&
                            DateTime.ParseExact(r.DataCompetencia, "dd/MM/yyyy", CultureInfo.InvariantCulture).Year == date.Year)
                            .Sum(r => r.Valor);
                            <td><strong>R$ @totalMes</strong></td>
                        }
                    </tr>
                </tbody>
            </table>
        }
        else
        {
            <p>Não há dados de saídas para exibir.</p>
        }

    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>