<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Libertese</title>
    <link rel="stylesheet" href="~/sidebar/assets/css/styles.css" asp-append-version="true" />
    <link href="~/scaffold/css/vendors/flatpickr.min.css" rel="stylesheet">
    <link href="~/scaffold/style.css" rel="stylesheet">
</head>

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

@{
    string currentController = ViewContext.RouteData.Values["controller"].ToString();
}

<body id="body-pd" class="body-pd">
    <div class="l-navbar expander" id="navbar" position="fixed">
        <nav class="nav">
            <div>
                <div id="without-logo" class="nav__brand expander-logo">
                    <ion-icon name="menu-outline" class="nav__toggle" id="nav-toggle"></ion-icon>
                </div>
                <div id="with-logo" class="nav__brand">
                    <a id="logo-toggle" href="#" class="nav__logo"><img src="~/sidebar/assets/img/logo_libertese.svg" width="175" height="150"></a>
                </div>
                <div class="nav__list">
                    <a asp-controller="Home" asp-action="Index"  class="@("nav__link " + (currentController == "Home" ? "active" : ""))" class="nav__link active">
                        <ion-icon name="home-outline" class="nav__icon"></ion-icon>
                        <span asp-controller="HomeController"  asp-action="Index" class="nav__name">Início</span>
                    </a>
                    <a asp-controller="Funcionarios" asp-action="Index" class="@("nav__link " + (currentController == "Funcionarios" ? "active" : ""))" class="nav__link active">
                        <ion-icon name="people-outline" class="nav__icon"></ion-icon>
                        <span asp-action="Index" class="nav__name">Funcionários</span>
                    </a>
                    <a asp-controller="Receitas" asp-action="Index" class="@("nav__link " + (currentController == "Receitas" ? "active" : ""))" class="nav__link active">
                        <ion-icon name="cash-outline" class="nav__icon"></ion-icon>
                        <span asp-action="Index" class="nav__name">Receita</span>
                    </a>
                    <a asp-controller="Despesas" asp-action="Index" class="@("nav__link " + (currentController == "Despesas" ? "active" : ""))" class="nav__link active">
                        <ion-icon name="wallet-outline" class="nav__icon"></ion-icon>
                        <span asp-action="Index" class="nav__name">Despesa</span>
                    </a>
                    <a asp-controller="FluxoCaixa" asp-action="Index" class="@("nav__link " + (currentController == "FluxoCaixa" ? "active" : ""))" class="nav__link active">
                        <ion-icon name="calculator-outline" class="nav__icon"></ion-icon>
                        <span asp-action="Index" class="nav__name">Fluxo de Caixa</span>
                    </a>
                    <a asp-controller="Produtos" asp-action="Index" class="@("nav__link " + (currentController == "Produtos" ? "active" : ""))" class="nav__link active">
                        <ion-icon name="file-tray-stacked-outline" class="nav__icon"></ion-icon>
                        <span asp-action="Index" class="nav__name">Produtos</span>
                    </a>
                    <a asp-controller="Vendas" asp-action="Index" class="@("nav__link " + (currentController == "Vendas" ? "active" : ""))" class="nav__link active">
                        <ion-icon name="calculator-outline" class="nav__icon"></ion-icon>
                        <span asp-action="Index" class="nav__name">Vendas</span>
                    </a>
                    <a asp-controller="Fornecedores"  asp-action="Index" class="@("nav__link " + (currentController == "Fornecedores" ? "active" : ""))" class="nav__link active">
                        <ion-icon name="cart-outline" class="nav__icon"></ion-icon>
                        <span asp-action="Index" class="nav__name">Fornecedores</span>
                    </a>
                    <a asp-controller="Relatorios" asp-action="Index" class="@("nav__link " + (currentController == "Relatorios" ? "active" : ""))" class="nav__link active">
                        <ion-icon name="podium-outline" class="nav__icon"></ion-icon>
                        <span asp-action="Index" class="nav__name">Relatórios</span>
                    </a>
                    <a asp-controller="EmpresaParceiras" asp-action="Index" class="@("nav__link " + (currentController == "EmpresaParceiras" ? "active" : ""))" class="nav__link active">
                        <ion-icon name="people-circle-outline" class="nav__icon"></ion-icon>
                        <span asp-action="Index" class="nav__name">Empresas Parceiras</span>
                    </a>
                </div>
            </div>
            <a asp-controller="Cadastro" asp-action="Logout" class="nav__logout-link">
                <ion-icon name="log-out-outline" class="nav__icon"></ion-icon>
                <span class="nav__name">   Sair   </span>
            </a>
        </nav>
    </div>

<!--Código-->

        

<div class="container">
    <div class="flex min-h-[100dvh]  overflow-hidden">
            <div class=" elemento flex flex-col flex-1 overflow-y-hidden overflow-x-hidden">
            <main class="grow">
                @RenderBody()
            </main>
        </div>
    </div>
</div>
<style>
    .elemento {
        overflow-x: hidden;
    }

    .elemento::-webkit-scrollbar {
        display: none;
    }
</style>

    <script src="~/sidebar/assets/js/main.js"></script>
    <script src="~/sidebar/assets/js/main.js"></script>
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/scaffold/js/vendors/alpinejs.min.js" defer></script>
    <script src="~/scaffold/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)


    <script>
    document.addEventListener('alpine:init', () => {
        Alpine.config = {
            delimiters: ['<%', '%>']
        }
    });
</script>

    <script>
        function toggleMenu() {
            var menu = document.getElementById('navMenu');
            if (menu.style.display === 'none') {
                menu.style.display = 'block';
            } else {
                menu.style.display = 'none';
            }
        }
    </script>

</body>
</html>
