@model Libertese.Domain.Entities.Financeiro.Receita
@using Libertese.Domain.Enums

@{
    ViewData["Title"] = "Create";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Libertese</title>
    <link rel="stylesheet" href="~/../sidebar/assets/css/styles.css" asp-append-version="true" />
    <link href="../scaffold/css/vendors/flatpickr.min.css" rel="stylesheet">
    <link href="../scaffold/style.css" rel="stylesheet">
    <link href="../scaffold/css/vendors/flatpickr.min.css" />
    <style>
        input[type="radio"] {
            color: #F2CAB3;
            border-color: #D3D3D3;
        }

            input[type="radio"]:checked {
                background-color: #F2CAB3;
                border-color: #F2CAB3;
            }

        .confirmar {
            background-color: #000;
            color: #fff;
            border: none;
            cursor: pointer;
            border-radius: 8px;
            transition: background-color 0.5s ease;
            width: 15%;
            height: 3rem;
        }
    </style>
</head>

@{
    ViewData["Title"] = "Cadastro receita";
    Layout = "~/Views/Shared/_LayoutProdutos.cshtml";
}  

<body class="font-inter antialiased bg-slate-100 dark:bg-slate-900 text-slate-600 dark:text-slate-400">
    <div class="flex overflow-hidden">
        <div class="relative flex flex-col flex-1 overflow-y-auto overflow-x-hidden">
            <main class="grow" style="margin-left: 4rem">
                <div class="grid grid-flow-col sm:auto-cols-max justify-start sm:justify-end gap-2">
                    <a asp-action="Index" class="btn bg-orange-500 hover:bg-orange-600 text-white">
                        <span class="hidden xs:block">Voltar</span>
                    </a>
                </div>
                <div class="px-4 sm:px-6 lg:px-8 py-8 w-full max-w-9xl mx-auto ">
                    <div class="sm:flex sm:justify-between flex-col sm:items-center mb-5">
                        <div class="mb-4 sm:mb-0">
                            <h1 class="text-2xl md:text-3xl text-slate-800 dark:text-slate-100 font-bold mb-6">Nova receita </h1>
                        </div>
                    </div>
                </div>

                <form asp-action="Create" class="flex flex-col align-content-center">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="flex flex-col mb-6">
                        <label asp-for="ClassificacaoId" class="control-label">Classificação da receita *</label>
                        <select class="form-input pl-6 bg-white dark:bg-slate-800" asp-for="ClassificacaoId"
                                asp-items="@(new SelectList(ViewBag.Classificacao, "Id", "Descricao"))">
                            <option value="">Selecione a Classificação</option>
                        </select>
                        <span asp-validation-for="ClassificacaoId" class="text-danger"></span>
                    </div>

                    <div class="flex flex-col mb-6">
                        <label asp-for="DataPrevisao" class="control-label">Data Previsão *</label>
                        <input type="datetime-local" asp-for="DataPrevisao" class="form-input pl-6 bg-white dark:bg-slate-800" />
                        <span asp-validation-for="DataPrevisao" class="text-danger"></span>
                    </div>

                    <div class="flex flex-col mb-6">
                        <label asp-for="DataRecebimento" class="control-label">Data Recebimento *</label>
                        <input type="datetime-local" asp-for="DataRecebimento" class="form-input pl-6 bg-white dark:bg-slate-800" />
                        <span asp-validation-for="DataRecebimento" class="text-danger"></span>
                    </div>

                    <div class="flex flex-col mb-6">
                        <label asp-for="DataCompetencia" class="control-label">Data Competencia *</label>
                        <input type="datetime-local" asp-for="DataCompetencia" class="form-input pl-6 bg-white dark:bg-slate-800" />
                        <span asp-validation-for="DataCompetencia" class="text-danger"></span>
                    </div>

                    <div class="flex flex-row w-full justify-between mb-6">
                        <div class="flex flex-col" style="width: 48%">
                            <label asp-for="FormaPagamentoId" class="control-label">Forma de Pagamento *</label>
                            <select class="form-input pl-6 bg-white dark:bg-slate-800" asp-for="FormaPagamentoId"
                                    asp-items="@(new SelectList(ViewBag.FormaPagamento, "Id", "Descricao"))">
                                <option value="">Selecione a Classificação</option>
                            </select>
                            <span asp-validation-for="FormaPagamentoId" class="text-danger"></span>
                        </div>

                        <div class="flex flex-col" style="width: 48%">
                            <label asp-for="Valor" class="control-label">Valor *</label>
                            <input type="number" asp-for="Valor" class="form-input pl-6 bg-white dark:bg-slate-800">
                            <span asp-validation-for="Valor" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="flex flex-col mb-6">
                        <label asp-for="Status" class="control-label">Status *</label>
                        <div class="flex flex-col form-input pl-6 bg-white dark:bg-slate-800">
                            <div class="flex flex-row">
                                <input asp-for="Status" type="radio" class="mr-3" value=@ReceitaStatus.Recebido /> @ReceitaStatusNomes.Recebido
                            </div>
                            <div class="flex flex-row">
                                <input asp-for="Status" type="radio" class="mr-3" value=@ReceitaStatus.AReceber /> @ReceitaStatusNomes.AReceber
                            </div>
                        </div>
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>

                    <div class="flex flex-col mb-6" style="width: 48%">
                        <label asp-for="Descricao" class="control-label">Descrição</label>
                        <textarea asp-for="Descricao" class="form-input pl-6 bg-white dark:bg-slate-800 h-full" placeholder="Escreva..."></textarea>
                        <span asp-validation-for="Descricao" class="text-danger"></span>
                    </div>

                    <div class="flex justify-center mt-12">
                        <input type="submit" value="Confirmar" class="confirmar">
                    </div>
                </form>
</body>



<script src="~/../sidebar/assets/js/main.js"></script>
<script src="~/../sidebar/assets/js/main.js"></script>
<script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js" asp-append-version="true"></script>
<script src="~/../lib/jquery/dist/jquery.min.js"></script>
<script src="~/../js/site.js" asp-append-version="true"></script>
<script src="../scaffold/js/vendors/alpinejs.min.js" defer></script>
<script src="../scaffold/js/main.js"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}