@model IEnumerable<Libertese.Domain.Entities.Precificacao.Produto>

@{
    ViewData["Title"] = "Gerenciar Produtos";
}

<h1>Gerenciar Produtos</h1>

<div class="card card-outline card-primary">
    <div class="card-header">
        <div class="form-group">
            <a asp-action="Create" type="button" class="btn btn-success">Novo Produto</a>
</div>
</div>
    <div class="card-body">
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempoProducao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempoProducao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
