@{
    ViewData["Title"] = "Relatórios";
    Layout = "~/Views/Shared/_LayoutProdutos.cshtml";
}

@model Libertese.Web.ViewModels.DatasCriacaoViewModel


<body class="font-inter antialiased bg-slate-100 dark:bg-slate-900 text-slate-600 dark:text-slate-400">
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="mt-6">
        <input type="text" name="pesquisa" id="pesquisa" placeholder="🔍︎   Procure o que deseja" class="form-input rounded-md shadow-sm w-full">
    </div>
    <div class="mt-8">
        <h1 class="text-2xl font-bold text-left">Relatórios</h1>
    </div>

    <div class="mt-4">
        <h5 class="text-md text-gray-600 dark:text-gray-300 text-left">
            Selecione os filtros por data e clique nos botões para realizar o download dos relatórios no formato .csv
        </h5>
    </div>

    <div class="mt-6 space-y-6">
        <div>
            <div class="flex items-center justify-between">
                <h4 class="text-lg font-medium" style="width: 200px;">Receita</h4>
                    <select id="dataReceita" name="periodo" class="form-select rounded-md shadow-sm w-220">
                    @foreach (var data in Model.DatasCriacaoReceitas)
                    {
                        <option value="@data">@data?.ToString("dd/MM/yyyy HH:mm")</option>
                    }
                </select>
                    <a href="@Url.Action("DownloadCsv", "Relatorios", new { tipo = "receitas" })" class="inline-flex items-center justify-center bg-orange-800 hover:bg-orange-800 text-white px-4 py-2 rounded" style="width: 200px; height: 40px;">Download</a>

            </div>
            <div class="border-t border-slate-200 dark:border-slate-700 mt-4"></div>
        </div>

        <div>
            <div class="flex items-center justify-between">
                <h4 class="text-lg font-medium" style="width: 200px;">Despesas</h4>
                    <select id="dataDespesas" name="periodo" class="form-select rounded-md shadow-sm w-220">
                    @foreach (var data in Model.DatasCriacaoDespesas)
                    {
                        <option value="@data">@data?.ToString("dd/MM/yyyy HH:mm")</option>
                    }
                </select>
                    <a href="@Url.Action("DownloadCsv", "Relatorios", new { tipo = "despesas" })" class="inline-flex items-center justify-center bg-orange-800 hover:bg-orange-800 text-white px-4 py-2 rounded" style="width: 200px; height: 40px;">Download</a>
            </div>
            <div class="border-t border-slate-200 dark:border-slate-700 mt-4"></div>
        </div>

        <div>
            <div class="flex items-center justify-between">
                <h4 class="text-lg font-medium" style="width: 200px;">Vendas</h4>
                    <select id="dataVendas" name="periodo" class="form-select rounded-md shadow-sm w-220">
                    @foreach (var data in Model.DatasCriacaoVendas)
                    {
                        <option value="@data">@data?.ToString("dd/MM/yyyy HH:mm")</option>
                    }
                </select>
                    <a href="@Url.Action("DownloadCsv", "Relatorios", new { tipo = "vendas" })" class="inline-flex items-center justify-center bg-orange-800 hover:bg-orange-800 text-white px-4 py-2 rounded" style="width: 200px; height: 40px;">Download</a>
            </div>
            <div class="border-t border-slate-200 dark:border-slate-700 mt-4"></div>
        </div>

        <div>
            <div class="flex items-center justify-between">
                <h4 class="text-lg font-medium" style="width: 200px;">Relação de Produtos</h4>
                <a href="#" class="inline-flex items-center justify-center bg-orange-800 hover:bg-orange-800 text-white px-4 py-2 rounded" style="width: 200px; height: 40px;">
                    <span class="text-center">Download</span>
                </a>
            </div>
            <div class="border-t border-slate-200 dark:border-slate-700 mt-4"></div>
        </div>

        <div>
            <div class="flex items-center justify-between">
                <h4 class="text-lg font-medium" style="width: 200px;">Relação de Fornecedores</h4>
                <a href="#" class="inline-flex items-center justify-center bg-orange-800 hover:bg-orange-800 text-white px-4 py-2 rounded" style="width: 200px; height: 40px;">
                    <span class="text-center">Download</span>
                </a>
            </div>
            <div class="border-t border-slate-200 dark:border-slate-700 mt-4"></div>
        </div>

        <div>
            <div class="flex items-center justify-between">
                <h4 class="text-lg font-medium" style="width: 200px;">Relação de Clientes</h4>
                <a href="#" class="inline-flex items-center justify-center bg-orange-800 hover:bg-orange-800 text-white px-4 py-2 rounded" style="width: 200px; height: 40px;">
                    <span class="text-center">Download</span>
                </a>
            </div>
            <div class="border-t border-slate-200 dark:border-slate-700 mt-4"></div>
        </div>
    </div>
</div>
    @* <script>
        function downloadCsv(tipo) {
            // Construindo o ID diretamente com a primeira letra em maiúscula para corresponder ao que foi definido nos IDs dos <select>
            var selectId = 'data' + tipo.charAt(0).toUpperCase() + tipo.slice(1);
            var selectElement = document.getElementById(selectId);
            if (!selectElement) {
                console.error("Elemento select não encontrado:", selectId);
                return;
            }
            var dataSelecionada = selectElement.value;
            var url = '@Url.Action("DownloadCsv", "Relatorios")' + '?tipo=' + tipo.toLowerCase() + '&dataSelecionada=' + encodeURIComponent(dataSelecionada);
            window.location.href = url;
        }

    </script> *@
</body>
